{{ $data := .Site.Data.sections.philosophie }}
<section id="philosophie" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>{{ $data.title }}</h2>
          <p>{{ $data.subtitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 d-flex flex-column">
        <div class="philosophy-content flex-grow-1">
          {{ $data.intro | markdownify }}
          
          <div class="mt-4">
            {{ $data.middle_text | markdownify }}
          </div>
          
          {{ $data.outro | markdownify }}
        </div>
        
        <blockquote class="blockquote mt-5 align-self-end">
          <p class="mb-0">"{{ $data.quote.text }}"</p>
          <footer class="blockquote-footer">{{ $data.quote.author }}</footer>
        </blockquote>
      </div>
      <div class="col-lg-4 d-flex align-items-end">
        {{ if $data.additional_image }}
        <div class="text-center w-100">
          <img src="{{ $data.additional_image.src }}" alt="{{ $data.additional_image.alt }}" class="img-fluid rounded shadow">
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
